/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;@300;@400;@500;@600&display=swap');

*{
    padding: 0;
    margin: 0;
    background: #1a202e;
    color: #E9E8F1;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}